body {
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100vh;
}

canvas {
    border: 2px solid white;
}
